<div class="col-sm-4">
    <div class="card">
        <img class="card-img-top" src="{{ movie.get_image_300x300 }}" alt="Image" />
        <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">{{ movie.description | truncatechars:50 }}</p>
            {% for genre in movie.genre.all %}
            <span class="badge text-bg-dark me-1">{{ genre.name }}</span>
            {% endfor %}
            <br />
            <a href="#" class="btn btn-primary" style="margin-top: 10px;">Rates</a>
        </div>
    </div>
</div>