{% extends "base.html" %}

{% block title %}{{ feed_name | title }} movies {% endblock %}

{% block content %}
<div class="feed_selector" style="display: flex; flex-direction: row;">
    <h3 style="margin-left: 20px;">Feed:</h3>
    <select class="form-select form-select-sm" onchange="location = this.value"
        style="margin-left: 20px; margin-bottom: 20px; margin-right: 20px; margin-top: 3px;">
        <option selected>{{ feed_name | title }}</option>
        <option value="/new">New</option>
        <option value="/recently_added">Recently added</option>
        <option value="/best">Best</option>
    </select>
</div>

<form action="{% url 'feeds:search' %}" method="get">
    <div class="search-box" style="margin-left: 20px; margin-bottom: 10px;">
        <input type="search" name="q" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="row" style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;">
    {% for movie in movies %}
    {% include "includes/movie_card.html" %}
    {% endfor %}
</div>

{% include "incl`udes/pagination_bar.html" %}

{% endblock %}