{% extends "base.html" %}

{% block title %}{{ user.username }}'s profile{% endblock %}

{% block content %}
{% if user.id == profile_owner.id %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group" style="padding-left: 300px; padding-right: 300px;">
    <img src="{{ profile_owner.get_image_300x300 }}" width="300" height="300" style="border: 1px solid black"/><br/>
    {% for field in form %}
        {{ field.label_tag }}<br/>
        {{ field }}<br/>
        {{ field.errors }}<br/>
    {% endfor %}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" style="margin-left: 300px; margin-right: 300px;">
</form>
{% else %}
{% endif %}
{% endblock %}
