{% extends "base.html" %}

{% block title %}Userlist{% endblock %}

{% block content %}

<form action="{% url 'users:search' %}" method="get">
    <div class="search-box" style="margin-left: 20px; margin-bottom: 10px;">
        <input type="search" name="q" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="{% url 'users:userlist' %}" class="btn btn-danger">Reset</a>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user.username }}</td>
            <td><a class="btn btn-primary" href="{% url 'users:profile' user.username %}">Profile</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "includes/pagination_bar.html" %}

{% endblock %}